<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main class="main_detail">
        <div class="product_detail">
        <div class="product_img">
            <img src="<%=product.image%>" alt="">
        </div>
        <div class="product_info">
            <div class="product_data">
            <h3 id="productName"><%=product.name%></h3>
            <h4><%=product.category%></h4>
            <h2>$ <%=product.price%></h2>
            <h4>Descripción</h4>
            <p><%=product.description%></p>
        </div>
        <div class="product_detail_buttons">
            <button value="<%=product.id%>"  type="submit" id="add-to-cart" >
                <i class="fas fa-shopping-cart" ></i>
            </button>
        </div>

        </div>

    </div>

    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="/scripts/productDetail.js"></script>
</body>