<%- include('./partials/head.ejs') %>
<body>
    <%- include("./partials/header.ejs") %>
    
  
    <main class="main-index">  
        <!-- IMAGENES -->
        <div class='adds_slider'>
            <ul>
                <li><img src="/images/slider_img_1.png" alt=""></li>
                <li><img src="/images/slider_img_2.png" alt=""></li>
                <li><img src="/images/slider_img_3.png" alt=""></li>
            </ul>
        </div>

        <div class="medios-de-pago">
            <ul>
            <li class="tarjeta-credito">
                <i class="fas fa-credit-card"></i>
                <div class="tarjetas-data">
                <p>asdasd</p>
                <p>asdasd</p>
                </div>
            </li>
            <li class="tarjeta-credito">
                <i class="far fa-credit-card"></i>
                <div class="tarjetas-data">
                    <p>asdasd</p>
                    <p>asdasd</p>
                    </div>
            </li>
            <li class="tarjeta-credito">
                <i class="fas fa-hand-holding-usd"></i>
                <div class="tarjetas-data">
                    <p>asdasd</p>
                    <p>asdasd</p>
                    </div>
            </li>
            <li class="tarjeta-credito">
                <i class="far fa-money-bill-alt"></i>
                <div class="tarjetas-data">
                    <p>asdasd</p>
                    <p>asdasd</p>
                    </div>
            </li>
            </ul>
        </div>
    <section class="noticia">Sección: Basado en tu última visita</section>
            
    <article class='article'>
        <div class="main-images">
            <% stocked.forEach(producto => {  %> 
            <div id="contenedorProducto" class='contenedor01'>
                <img src="<%=producto.image%> ">
                <div class='sub-contenedor01'>
                        <h1 class='precios'>$ <%=producto.price%></h1>
                        <h2 class='descuentos'> %<%=producto.discounts%> Descuento</h2>
                        <div id="productItem"class='delivery1'><i class="fas fa-truck"></i></div>
                        <button class="add-to-cart" value="<%=producto.id%>">
                            Add
                        </button>
                     
                </div>
                <div class="contenedor01-data">
                    
                   <p id="productName"><%=producto.name%></p>
            </div>
        </div>
        <% }) %> 
    </div>
    </article>    
    <section class="noticia">Ofertas</section>
    <div class="main-images">
        <% offers.forEach(producto => {  %> 
        <div class='contenedor01'>
            <img src="<%=producto.image%> ">
            <div class='sub-contenedor01'>
                    <h1 class='precios'>$ <%=producto.price%></h1>
                    <h2 class='descuentos'> %<%=producto.discounts%> Descuento</h2>
                    <div class='delivery1'><i class="fas fa-truck"></i></div>
            </div>
            <div class="contenedor01-data">
                <%=producto.name%>
        </div>
    </div>
    <% }) %> 
</div>         
    </main>
    
    <%- include('./partials/footer.ejs') %>
    <script src="scripts/carrito.js"></script>    
</body>
</html>