<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Mercado Liebre</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class='contenedorHeader01'> 
       <img class='logo' src='/images/logo-mercado-liebre.svg'>
            
             <div class='buscador'>
                 
                 <i class="fas fa-search"></i>
                 <input class="barra-busqueda" type="text" placeholder ="Barra de busqueda...">
            </div>
          
                    <h2> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
                </div>

                            <nav class='contenedorMenu'>
                                <div class='contenedorMenu1'>
                                    <a href='/'>Ofertas</a>
                                    <a href='#'>Tiendas Oficiales</a>
                                    <a href='#'>Vender</a>
                                    <a href='#'>Ayuda</a>
                                </div>
                                <div class='contenedorMenu2'>
                                    <a href='/register'>Creá tu cuenta    <i class="far fa-id-card"></i></a>
                                    <a href='/login'>Ingresá    <i class="fas fa-sign-in-alt"></i></a> 
                                    <a href='#'>Mis compras <i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </nav>
                           
                            <div class="burguer-menu"> <i class='fas fa-bars'></i></div>
                  
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="">
    <main>  
        <!-- IMAGENES -->
    <section class="noticia">Sección: Basado en tu última visita</section>
            
    <article class='article'>
        <div class="main-images">
            <% stocked.forEach(producto => {  %> 
            <div class='contenedor01'>
                <img src="<%=producto.image%> ">
                <div class='sub-contenedor01'>
                        <h1 class='precios'>$ <%=producto.price%></h1>
                        <h2 class='descuentos'> %<%=producto.discounts%> Descuento</h2>
                        <div class='delivery1'><i class="fas fa-truck"></i></div>
                </div>
                <div class="contenedor01-data">
                    <%=producto.name%>
            </div>
        </div>
        <% }) %> 
    </div>
    </article>    
    <section class="noticia">Ofertas</section>
    <div class="main-images">
        <% offers.forEach(producto => {  %> 
        <div class='contenedor01'>
            <img src="<%=producto.image%> ">
            <div class='sub-contenedor01'>
                    <h1 class='precios'>$ <%=producto.price%></h1>
                    <h2 class='descuentos'> %<%=producto.discounts%> Descuento</h2>
                    <div class='delivery1'><i class="fas fa-truck"></i></div>
            </div>
            <div class="contenedor01-data">
                <%=producto.name%>
        </div>
    </div>
    <% }) %> 
</div>         
    </main>
    
    <footer class='contenedor-footer'> 
        <div class="footerbox01">
            <div class='tamano'><i class="fas fa-credit-card"></i></div>
            <ul>
            <strong class="id">Pagá con efectivo</strong>

            <div>Con Mercado Liebre Cash, tenés cuotas sin innterés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</div>
            </ul>
        </div>
        <div class="footerbox02">
            <div class='tamano'><i class="fas fa-gift"></i></div>
            <ul>
            <strong class="id">Envío gratis desde $2,500</strong>
            <div>Solo por estar registrad@ en Mercado Liebre tenés enváos gratis en miles de productos. Es un beneficio de Mercado Puntos</div>
            </ul>
        </div>
        <div class="footerbox03">
            <div class='tamano'><i class="fas fa-user-shield"></i></div>
            <ul>
            <strong class="id">Seguridad de Principio a fin</strong>
            <div>No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</div>
            </ul>
        </div>
            <div class="copyright">Copyright &copy; 1999-2020 MercadoLiebre S.R.L</div>
        
        
    </footer>
    
</body>
</html>